In [1]:
##1st program
l = [1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

In [6]:
for i in l:
    print (i)

1
2
3
4
5

In [8]:
n = 1
while n <= 5:
    print(n)
    n= n+1

1
2
3
4
5

In [9]:
##2nd program
l1 = [1,2,3,4,5,6,7]

In [10]:
l1

[1, 2, 3, 4, 5, 6, 7]

In [11]:
##sum using for loop
result=0
for i in l1:
    result = result + i
result

28

In [13]:
##product using for loop
result=1
for i in l1:
    result = result * i
result

5040

In [19]:
##sum using while loop
n = int(input("enter the limit"))
starting_point = 0
counter = 1

while counter <= n:
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

enter the limit 7

28

In [20]:
##product using while loop
n1 = int(input("enter the limit"))
starting_point = 1
counter = 1

while counter <=n :
    starting_point = starting_point * counter
    counter = counter + 1
starting_point

enter the limit 7

5040

In [28]:
##3rd program
units_value= int(input("enter your units value"))
if units_value <= 100:
    totalbill = units_value * 4.5
    print(totalbill)
elif units_value <=200 and units_value > 100:
    totalbill = (100*4.5) + ((units_value - 100)*6)
    print(totalbill)
elif units_value <=300 and units_value > 200:
    totalbill = (100*4.5) + (100*6) + ((units_value - 200)*10)
    print(totalbill)
else :
    totalbill = (100*4.5) + (100*6) + (100*10) + ((units_value - 300)*20)
    print(totalbill)

enter your units value 310

2250.0

In [10]:
##4th [rogram
l = list(range(1,100))
l1 = [i**3 for i in l]
l2 = [i for i in l1 if i%4==0 or i%5==0]
print(l2)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192]

In [28]:
##5th program
s = "I want to become a data scientist"
s.find('a')
vowel_count = s.count('a') , s.count('e') , s.count('i') , s.count('o') , s.count('u')
vowel_count
sum(vowel_count)

11